# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Unity artifacts
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.user
*.userprefs
*.pidb
*.booproj
